---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import ModelYSection from '../components/ModelYSection.astro';
import SectionLanding from '../components/SectionLanding.astro';
import Section from '../components/Section.astro';
---

<Layout title="Welcome to Testla Incorporation.">
	<Header />
	<main class="relative w-full h-screen overflow-auto snap-y snap-mandatory scroll-smooth">
		<div class="snap-center">
			<SectionLanding />
		</div>
		<div class="snap-center">
			<ModelYSection />
		</div>
	</main>
</Layout>
